
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}


header {
    width: 100%;
    height: 60px;
    background-color: #4E6FAE;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-box img {
   width: 45px;
   height: 45px;
   border-radius: 50%;
}


.menu {
    margin-left: 40px;
    display: flex;
    gap: 10;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 11px;
    font-weight: 700;
}


.content {
    padding-top: 120px;
    padding-left: 40px;
}

.title {
    width: 120px;
    height: 28px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}


.cards {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}


.card {
    width: 362px;
    border-radius: 5px;
}


.img-box {
    width: 362px;
    height: 186px;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.img-title {
    position: absolute;
    bottom: 90px;
    left: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    width: 184px;
}


.text-box {
    width: 362px;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 170px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.12);
}

.text-box p {
    font-size: 10px;
    width: 240px;
    font-weight: 700;
    color: #8A8787;
}



.happening-now {
    width: 100%;
    margin-top: 60px;
    display: block;
}

.hn-title {
    font-size: 24px;
    font-family: Roboto;
    font-weight: 800;
    color: #000;
    margin-bottom: 20px;
}

.hn-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.hn-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.big-img img {
    width: 758px;
    height: 430px;
    border-radius: 5px;
}

.big-text {
    position: relative;
    top: -100px;
    left: 30px;
    padding: 5px 10px;
    background: rgba(0,0,0,0.40);
    width: fit-content;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

.hn-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-img {
    width: 362px;
    height: 212px;
    border-radius: 5px;
    object-fit: cover;
}
