
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}


header {
    width: 100%;
    height: 60px;
    background-color: #4E6FAE;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-box img {
   width: 45px;
   height: 45px;
   border-radius: 50%;
}


.menu {
    margin-left: 40px;
    display: flex;
    gap: 10;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 11px;
    font-weight: 700;
}


.content {
    padding-top: 120px;
    padding-left: 40px;
}

.title {
    width: 120px;
    height: 28px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}


.cards {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}


.card {
    width: 362px;
    border-radius: 5px;
}


.img-box {
    width: 362px;
    height: 186px;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.img-title {
    position: absolute;
    bottom: 90px;
    left: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    width: 184px;
}


.text-box {
    width: 362px;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 170px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.12);
}


.text-box p {
    font-size: 10px;
    width: 240px;
    font-weight: 700;
    color: #8A8787;
}



    

.h-title {
    width: 196px;
    height: 28px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 20px;
}


.h-container {
    display: flex;
    gap: 20px;
}


.h-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.big-photo img {
    width: 758px;
    height: 430px;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
}


.big-photo {
    position: relative;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 202px;
    height: 23px;
    text-align: center;
}


.h-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.small-photo img {
    width: 362px;
    height: 212px;
    border-radius: 5px;
    object-fit: cover;
}


 
.footer-box {
    width: 100%;
    height: 201px;
    background-color: #243043;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-inner {
    width: 1,440px;
    display: flex;
    align-items: flex-start;
    gap: 80px;
}


.footer-col p {
    color: #818687;
    font-size: 14px;
    margin: 6px 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}


.footer-text {
    color: #ffffff;
    width: 248px;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400; 
    line-height: 16px;
    margin-left: 40px;
}


.footer-logo img {
    width: 60px; 
    height: auto;
    margin-left: auto;
}
