
header {
    width: 100%;
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.menu a {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #000000;
    margin-right: 30px;
    text-decoration: none;
}



.profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}



.cards {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.card {
    width: 362px;
    font-family: Roboto, sans-serif;
}




.img-box {
    width: 362px;
    height: 186px;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}



.img-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    width: 184px;
}




.text-box {
    width: 362px;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    min-height: 166px;
}

.text-box p {
    font-size: 10px;
    font-weight: 700;
    color: #8A8787;
    width: 238px;
}